@charset "UTF-8";
/* style.css */

/* Google font Icon */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Noto Serif読み込み */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
// Noto sans読み込み
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

// 共通カラー設定@scss
$primary-color: #ff8800;
$secondary-color: #ffbb00;
$primary-color-opacity: #faf2de;
$font-color: #000000;
$background-color: #f8f8f8;
$wrap-width: 1140px;

:root {
  /*scssの変数をcss変数に変換 (cssアップロードのみで変換可能) */
  --bg-color: #{$background-color};
  --transition-5ms: all 0.5s ease-in-out;
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --font-color: #{$font-color};
  --gradient-color: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
  --gradient-color-hover: linear-gradient(to bottom, var(--primary-color), var(--primary-color));
  --drop-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans JP", sans-serif;
}
/* 共通スタイル */
/* リンク設定 */
a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: var(--font-color);

  &:visited {
    color: var(--font-color);
  }
}
/* ボタンの設定  */
.btn {
  padding: 1.5em 2.7em;
  border: 3px solid $background-color;
  border-radius: 15px;
  background-image: var(--gradient-color);
  cursor: pointer;
  &:hover {
    background-image: var(--gradient-color-hover);
  }

  a {
    color: var(--bg-color);
  }
}
/* コンテンツ部分の共有設定 */
article:not(.mv) {
  margin-top: 5rem;
  padding-bottom: 3rem;
}
.ttl_box {
  padding: 5.75rem 0;
  text-align: center;
  .contents_ttl {
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
    &::after {
      position: absolute;
      bottom: -0.25em;
      left: 50%;
      transform: translate(-50%, 0);
      width: 80%;
      height: 3px;
      background-color: $font-color;
      content: "";
    }
  }
  .contents_subTtl {
    margin-top: 1em;
    color: var(--primary-color);
    font-size: 1.875em;
  }
}
/*  headerの設定 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 2.6dvh;
  z-index: 10;
  width: 90dvw;
  max-width: 1700px;
  margin-left: 0;
  padding: 15px;
  border-radius: 0 30px 30px 0;
  background-color: rgb(255, 255, 255, 0.7);

  backdrop-filter: blur(5px);
  .btn {
    width: 200px;
    padding: 22px 54px;
  }
}
.header_nav {
  margin-right: 0;
  font-weight: bold;
  .nav_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;

    gap: 4em;
  }
}
h1 {
  margin-left: 90px;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
}
/* footer */

footer {
  position: relative;
  padding-top: 4.5em;
  background-color: black;
  color: $background-color;
  text-align: center;
  .footer_logo {
    margin-bottom: 4.5rem;
    font-size: 3rem;
  }
  .footer_nav {
    display: flex;
    justify-content: space-between;
    max-width: $wrap-width;
    margin-bottom: 4.5rem;
    .footer_item {
      width: calc($wrap-width/5);
      .footer_link {
        color: $background-color;
      }
    }
  }
  .copy {
    padding-bottom: 1rem;
  }
}
/* MV設定 */
.mv {
  position: relative;
  width: 100%;
  height: 1920px;
  max-height: 1080px;
  background-image: url(../img/mv.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .mv_title {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 900;
    font-size: 4.5em;
    text-align: center;
  }
  .mv_contentbox {
    position: absolute;
    bottom: 10em;
    left: 15em;
    color: #ffffff;
    font-size: 20px;
    text-shadow: var(--drop-shadow);
    .mv_content {
      line-height: 41px;
    }
    .mv_subttl {
      margin: 1em 0;
      font-size: 40px;
    }
    .btn {
      display: inline-block;
      margin-left: 0;
      box-shadow: var(--drop-shadow);
      text-align: center;
      .contact_txt {
        font-size: 1.5em;
      }
    }
  }
  .mv_humanism {
    position: absolute;
    right: 10em;
    bottom: 0;
    width: 700px;
    min-width: 700px;
  }
}

/*! Solution*/
.solution {
  position: relative;

  .sol_imgbox {
    position: relative;

    .sol_imglist {
      display: flex;
      justify-content: center;
      max-width: $wrap-width;
      margin-top: 4.875em;
      padding-bottom: 1em;
      .list_item {
        flex-basis: 260px;
        width: 260px;
        height: 260px;
        overflow: hidden;
        border: solid 1px var(--primary-color);
        border-radius: 100%;
        .sol_img {
          width: 100%;
          height: 100%;

          object-fit: cover;
        }
      }
    }
    .bg_box {
      position: absolute;
      right: -0.25em;
      bottom: 0;
      z-index: -1;
      width: 95dvw;
      height: 100px;
    }
  }
  .solution_contents {
    position: relative;
    margin-top: 7.125em;
    .content {
      max-width: $wrap-width;
      margin-bottom: 6rem;
      .content_ttl {
        margin-bottom: 3.125rem;
        font-size: 2rem;
      }
      &:nth-child(even) {
        .content_box {
          flex-direction: row-reverse;
        }
        .content_ttl {
          text-align: right;
        }
      }
    }
    .content_box {
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      img {
        flex-basis: 500px;
        max-width: 500px;
        background-clip: content-box;

        object-fit: contain;
      }
      .content_list {
        flex-basis: 500px;
        list-style-image: url(/SampleLP_IT/assets/img/check_square.webp);
        line-height: 2.75;
      }
    }
  }
  .sol_bg-orange {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .sol_bg-yellow {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  svg {
    width: 100%;
  }
}

/* Service */
.service {
  background-color: $background-color;
  .service_content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: $wrap-width;
    margin-top: 5.75em;
    &::after {
      position: absolute;
      left: 0;
      width: 700px;
      height: 350px;
      background-color: $primary-color-opacity;
      content: "";
    }
    &:nth-child(even) {
      flex-direction: row;
      &::after {
        right: 0;
        left: auto;
      }
    }
    .content_img {
      width: auto;
      height: 800px;
    }
    .content_box {
      position: relative;
      z-index: 1;
      width: 49%;
      text-align: left;
      .content_ttl {
        position: relative;
        margin-bottom: 1.25em;
        padding: 1.25em 0;
        font-size: 2em;
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: linear-gradient(to right, $primary-color, transparent);
          content: "";
        }
      }
      .content_txt {
        line-height: 2;
      }
    }
  }
}
.sub_content {
  margin-top: 8rem;
  text-align: center;
  .content_ttl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3.5rem;
    font-size: 1.8rem;

    justify-items: center;
    .border {
      width: 100px;
      height: 3px;
      margin: 0 1.5em;
      background-color: $font-color;
    }
  }
  p {
    margin-bottom: 2rem;
  }
  .process_list {
    display: flex;
    position: relative;
    z-index: 2;
    max-width: $wrap-width;
    margin-bottom: 11rem;
    &::after {
      opacity: 0.8;
      clip-path: polygon(0 0, 99% 0, 100% 50%, 99% 100%, 0 100%, 0% 50%);
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;
      transform: translateY(-75%);
      width: 100%;
      height: 100px;
      background: linear-gradient(to right, transparent, $secondary-color);
      content: "";
    }
  }
  .table_box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: $wrap-width;

    gap: 40px;
    .guide_table {
      flex-grow: 1;
      width: 550px;
      background-color: $primary-color-opacity;
      border-collapse: collapse;
      caption {
        margin: 1.5rem auto;
      }
      thead {
        background-color: $secondary-color;
      }
      th,
      td {
        padding: 1em 0;
        border-width: 1px;
        border-style: solid;
        border-color: $primary-color;
      }
    }
  }
}
/* about */
.about {
  max-width: $wrap-width;
  .contents {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    img {
      max-width: 500px;
      margin-right: 0;
    }
    .about_table {
      width: 100%;
      text-align: left;
      tr {
        vertical-align: top;
      }
    }
  }
}
/* お問い合わせ */
.contact {
  position: relative;
  padding-top: 5.75rem;
  padding-bottom: 5.75rem;

  backdrop-filter: blur(5px);
  .inner {
    max-width: $wrap-width;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255, 0.8);
  }
  .contact_table {
    width: 80%;
    text-align: left;
    border-spacing: 3rem;
    tr {
      margin-bottom: 1.5em;
      vertical-align: top;
    }
    textarea {
      height: 200px;
    }
    tfoot {
      color: $background-color;
      text-align: center;
    }
    .input_name {
      padding: 0.5rem;
      &::after {
        margin-left: 2rem;
        padding: 0 0.5em;
        border-radius: 5px;
        background-color: #ff0000;
        color: $background-color;
        content: "必須";
      }
    }
    .input_content {
      width: 500px;
      padding: 0.25rem;
      border: solid 1px #b9b9b9;
      background-color: $background-color;
      vertical-align: middle;
      .input_form {
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
    .btn {
      width: 500px;
      color: $background-color;
      font-size: 1.5em;
    }
  }
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 900px;
    background-image: url(/SampleLP_IT/assets/img/office-594132_1920.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
  }
}
